<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Deonis_lib.Properties.Settings.ShopConnectionString"
            connectionString="Data Source=DESKTOP-AP3SV4P\SQLEXPRESS;Initial Catalog=Shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>